[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1
[submodule ".oh-my-zsh-custom/plugins/command-time"]
	path = .oh-my-zsh-custom/plugins/command-time
	url = https://github.com/popstas/zsh-command-time.git
